div {
    text-align: justify;
    text-justify: inter-word;
}
#menu li{
	text-decoration: none;
	display: inline;
}
.abc img{
	padding-right: 50px;
	
	margin-right: 20px;
}
.abc{

	margin-left: 200px;
}

.menu{

     
	margin-left: 1000px;
    margin-bottom: 50px;
}

.menu a{

	color: "white";
     font-size: 20px;
	padding-left: 20px;

}
.heading img{
	margin-left: 50px;
}
.heading h1{
	margin-left: 100px;
	margin-top: -50px;
	color:white; 

}
.font{

	font-size: 20px;

}
.head{
	color:white;
	font-size: 500%;
	text-align: center
}
#para p{
	color:white;
	font-size: 200%;
	text-align: center;
}